body {
    margin: 0px; 
    padding: 0px;

    font-family: 'Source Sans Pro';
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}

div {
    max-width:100%;
    max-height:100%;
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding: 5% 0;
}

button {
    background-color: #39C2D7;
    color: #FFFFFF;
    border: none;
    border-radius: 1.8rem;
    width: 8em;
    height: 2.25em;
    
    cursor: pointer;

    font-family: 'Oswald';
    font-size: 1.4rem;
    line-height: 2.6rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}


button.playButton {
    border-radius: 50%;
    width: 14rem;
    height: 14rem;
    font-size: 6.6rem;
    padding-left: 0.4em;

}

h1 {
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 6.4rem;

    color: #FFFFFF;
}

h1.whiteBackgroundHead {
    color: #464547;
}

h3 {
    font-size: 2.4rem;
    line-height: 3.2rem;

}

h3.subtitle1 {
    color: rgba(255, 255, 255, 0.7);
}

h3.subtitle2 {
    color: #666666;
}

h3.subtitle3 {
    color: #FFFFFF;
}

div p {
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: 1rem 10em;

    color: #000000;
}

footer {
    background-color: #464547;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;

    padding-left: 12em;
    height: 25vh;
}

footer p {
    font-family: 'Source Sans Pro';
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: rgba(255, 255, 255, 0.4);

}

footer p.footerHead {
    font-size: 1.8rem;
    line-height: 1.6rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.background1 {
    background-image: url("../assets/v2_8.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;

}
.background3 {
    background-color: #EEEEEE;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.background3 {
    background-image: url("../assets/v2_6.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-color: rgba(140, 79, 42, 0.3);
}